* {
    margin: none;
    padding: none;
    box-sizing: border-box;
}

#overview-tab,
#app-error-alert,
#app-using-stored-values-alert,
#bmi-app-results,
#bmr-app,
#bmr-app-results,
#bmr-app-tee-result-div,
#calculate-tee-div,
#weight-objective-app,
#weight-obj-results,
#overview-content,
#overview-age,
#overview-height,
#overview-weight,
#overview-bmi,
#overview-bmr,
#overview-tee,
#overview-title {
    display: none;
}

.input-legend-title {
    font-size: 2.5rem;
}

@media (min-width: 801px) {
    #main-navbar {
        display: none;
    }
}
