@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: none;
    padding: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#overview-tab,
#app-error-alert,
#app-using-stored-values-alert,
#bmi-app-results,
#bmr-app,
#bmr-app-results,
#bmr-app-tee-result-div,
#calculate-tee-div,
#weight-objective-app,
#weight-obj-results,
#overview-content,
#overview-age,
#overview-height,
#overview-weight,
#overview-bmi,
#overview-bmr,
#overview-tee,
#overview-title {
    display: none;
}

.input-legend-title {
    font-size: 2.5rem;
}

@media (min-width: 801px) {
    #main-navbar {
        display: none;
    }
}

#attribution-link {
    font-size: 0.7rem;
}

#no-results-div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#unicorn {
    max-height: 40vh;
}

.card-body {
    display: grid;
    place-items: center;
    border-radius: 14px;
    height: 15vh;
    margin: 1rem;
}

a {
    text-decoration: none;
}
